global
  log stdout format raw local0

 defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend fds_frontend
  bind *:8080
  option forwardfor
  http-request set-header X-Forwarded-Proto http
  default_backend fds_kubernetes_nodes

backend fds_kubernetes_nodes
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  server k8s-worker01 10.1.93.51:30080 check
  server k8s-worker02 10.1.93.52:30080 check
